.login-form {
    border: 1px solid grey;
    padding: 20px;
    margin: 50px auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;

}

.login-form__input {
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
}

.login-form__btn {
    margin: 10px 0;
    padding: 5px 20px;
    font-size: 17px;
    background: #fff;
    color: rgb(12, 8, 8);
    transition: .3s;
    border: 2px solid rgb(0, 0, 0);
}

.login-form__btn:disabled {
    background-color: rgb(219, 136, 136);
}

.login-form__btn:hover,
.login-form__btn:focus {
    background: rgb(86, 218, 145);
}

.login-full-fields {
    text-align: center;
}